{% extends "base.html" %}

{% block content %}

<div class="">
        <h1>{{ document.nom_document }}</h1>
        {% if document.mention_set.all|length > 1 %}   
        <p>{{ document.mention_set.all|length }} mentions</p>
        {% else %}
        <p>{{ document.mention_set.all|length }} mention</p>
        {% endif %}
        {% if document.auteur %}
        <p>{{ document.auteur }}</p>
        {% endif %}
        {% if document.annee %}
        <p>{{ document.annee }}</p>
        {% endif %}
        {% if document.commentaire %}
        <p>{{ document.comentaire }}</p>
        {% endif %}  
        {% if document.traitement %}
        <p>{{ document.traitement }}</p>
        {% endif %}         


        <ul  class="list-inline" class="thumbnails"> 
                {% for mention in document.mention_set.all %}          
                <li><a href=" ../mention/{{mention.pk}}">{{ mention }}</a></li>
                </li>
                {% endfor %}
        </ul>

</div>
{% endblock content %}